################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3nethra/bin/Debug
/3nethra/obj/Debug
/3nethra/packages
/Helpers/obj/Debug
/packages
/3nethra/bin/x86/Debug
/3nethra/obj/x86/Debug
/3nethra/bin/x86/Debug
/3nethra/obj/x86/Debug
/Helpers/bin
/Helpers/obj/x86/Debug
/.vs/3nethra/v15
/Uploads
/machine.pem
/Uploads
/.vs/Artelus/v15
/3nethra/bin/x86/Release
/3nethra/obj/x86/Release
/Helpers/obj/x86/Release
/3nethra/bin/x64/Debug
/3nethra/obj/x64/Debug
/Helpers/obj/x64/Debug
/3nethra/obj/x64/Release
/Helpers/obj/Release
/Artelus/bin
/Artelus/obj
/Artelus/Artelus.csproj.user
